{% extends 'LehaHistoriqueBundle::layout.html.twig' %}

{% block content %}
<style type="text/css">
#modalChoixAnalyses {
    width:800px;
}
</style>
<div id="modalSaveQuery" class="modal hide">
    <form action="{{ path('leha_historique_view', {id : requete.id}) }}" method="post">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
        <h3>Enregistrement tableau</h3>
    </div>
    <div class="modal-body">
        {{ form_widget(form) }}
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Fermer</button>
        <button type="submit" class="btn btn-primary">Enregistrer</button>
    </div>
    </form>
</div>
<div id="modalChoixAnalyses" class="modal hide">
    <form id="formChoixAnalyses" action="{{ path('leha_historique_save_analyses', {id : requete.id}) }}" method="post">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
            <h3>Choix analyses</h3>
        </div>
        <div class="modal-body" id="containerChoixAnalyses">
            {{ form_widget(form) }}
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Fermer</button>
            <button type="submit" class="btn btn-primary">Enregistrer</button>
        </div>
        <input type="hidden" id="analyses_selectionnees" name="analyses_selectionnees" />
    </form>
</div>

<h3>{{ requete.libelle }}</h3>
<div class="btn-group">
    <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#"><i class="icon-cog icon-white"></i>&nbsp;&nbsp;&nbsp;Action&nbsp;&nbsp;&nbsp;<span class="caret"></span></a>
    <ul class="dropdown-menu">
        <li><a id="linkChoixAnalyses" data-toggle="modal">Définir mes analyses de recherche</a></li>
        <li><a href="#modalSaveQuery" data-toggle="modal">Enregistrer sous</a></li>
        <li><a href="#" id="linkDelete">Supprimer</a></li>
    </ul>
</div>

{% for analyse in requete.analyses %}
    {{ analyse.libelle }}<br />
{% endfor %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function() {
            $('#formChoixAnalyses').on('submit', function() {
                var lst_element = '';
                $('#listeDroite > div').each(function() {
                    lst_element += $(this).attr('element_id') + '|';
                });
                if (lst_element != '') {
                    lst_element = lst_element.substr(0, lst_element.length - 1);
                }

                $('#analyses_selectionnees').val(lst_element);

                return true;
            });
            $('#linkChoixAnalyses').click(function() {
                $.get('{{ path('leha_analyse_crossselect', { id : requete.id}) }}', function(data) {
                    $('#containerChoixAnalyses').html(data);
                });

                $('#modalChoixAnalyses').modal();
            });

            $('#linkDelete').click(function() {
                if (confirm("Etes vous sûr de vouloir supprimer cette requête ?")) {
                    window.location = "{{ path('leha_historique_remove', {id : requete.id}) }}";
                }

                return false;
            });
        });
    </script>
{% endblock %}