<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link href="{{ asset('bootstrap/css/bootstrap.css') }}" type="text/css" rel="stylesheet" />
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div class="navbar">
            <div class="navbar-inner">
                <ul class="nav">
                    <li><a href="{{ path('leha_dashboard_homepage') }}">Accueil</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            Historique
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path('leha_historique') }}">Liste</a></li>
                            {% for requete in app.user.requetes %}
                                <li><a href="{{ path('leha_historique_search', {id : requete.id}) }}">{{ requete.libelle }}</a></li>
                            {% endfor %}

                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            Administration
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path('leha_user_homepage') }}">Utilisateur</a></li>
                        </ul>
                    </li>
                </ul>
                {{ app.user.prenom ~ ' ' ~ app.user.nom }}
                <a href="{{ path('logout') }}">logout</a>
            </div>

        </div>
        <div class="row-fluid">

            <div class="span8">
        {% block body %}{% endblock %}

            </div>
        </div>
        {% block javascripts %}
            <script src="{{ asset('bootstrap/js/jquery-1.9.1.js') }}" type="text/javascript"></script>
            <script src="{{ asset('bootstrap/js/bootstrap.js') }}" type="text/javascript"></script>
        {% endblock %}
    </body>
</html>
