{% extends 'LehaCentralBundle::layout.html.twig' %}

{% block content %}
<style type="text/css">
#modalChoixAttributs {
    width:1000px;
}
#modalEditQuery {
    width:1000px;
}
</style>
<div id="modalEditQuery" class="modal hide"></div>
<div id="modalChoixAttributs" class="modal hide">

</div>

<div class="row">
    <div class="span1"></div>
    <div class="span5"><h3>{{ requete.libelle }}</h3></div>
    <div class="span3">
        <div class="btn-group">
            <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#"><i class="icon-cog icon-white"></i>&nbsp;&nbsp;&nbsp;Action&nbsp;&nbsp;&nbsp;<span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="#" id="linkChoixCriteres">Définir mes critères de recherche</a></li>
                <li><a href="#" id="linkEdit">Enregistrer sous</a></li>
                <li><a href="#" id="linkDelete">Supprimer</a></li>
            </ul>
        </div>
    </div>
</div>

<form method="POST" action="{{ path('leha_historique_search', {id : requete.id}) }}">
    {{ form_widget(form) }}
<button type="submit" class="btn btn-primary">Rechercher</button>
</form>

{{ echantillons|length }}
<table>
{% for echantillon in echantillons %}
    <tr>
        <td>{{ echantillon.prefixeNom ~ '.' ~ echantillon.demandeNumero ~ '.' ~ echantillon.echantNumero }}</td>
        <td>{{ echantillon.etatReception }}</td>
        <td>{{ echantillon.itm8 }}</td>
    </tr>
{% endfor %}
</table>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function() {
            $('#linkEdit').on('click', function() {
                $.get('{{ path('leha_historique_edit', {id : requete.id })}}', function(data) {
                    $('#modalEditQuery').html(data);
                    $('#modalEditQuery').modal();
                });
            });

            $('#linkChoixCriteres').click(function() {
                $.get('{{ path('leha_historique_choix_attributs', { id : requete.id}) }}', function(data) {
                    $('#modalChoixAttributs').html(data);
                });

                $('#modalChoixAttributs').modal();
            });

            $('#linkDelete').click(function() {
                if (confirm("Etes vous sûr de vouloir supprimer cette requête ?")) {
                    window.location = "{{ path('leha_historique_remove', {id : requete.id}) }}";
                }

                return false;
            });
        });
    </script>
{% endblock %}